/*@tailwind base;*/
@tailwind components;
@tailwind utilities;


.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1.6s cubic-bezier(0.5, 0, 0, 1);
    transition-property: opacity, transform;
}

a.reveal {

    /*transform: scale(0);*/
    /*display: none;*/
}

a.reveal > svg{
    /*transition-duration: 0.4s;*/
    font-size: 0;
    transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal.in {
    opacity: 1;
    transform: none;
}

a.reveal.in > svg {
    /*height: inherit;*/
    /*transform:none;*/
    font-size: calc(1.425rem + 2.1vw);
}



/*@layer components {*/
/*    .btn-primary {*/
/*        @apply w-full px-6 py-2.5*/
/*        bg-blue-600*/
/*        text-white*/
/*        font-medium*/
/*        text-xs*/
/*        leading-tight*/
/*        uppercase*/
/*        rounded*/
/*        shadow-md*/
/*        hover:bg-blue-700 hover:shadow-lg*/
/*        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0*/
/*        active:bg-blue-800 active:shadow-lg*/
/*        transition*/
/*        duration-150*/
/*        ease-in-out;*/
/*    }*/
/*}*/